{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.9.2"}
]}.

{project_plugins, [
    rebar3_lint,
    erlfmt
]}.

{erlfmt, [
    write,
    {files, [
        "src/*",
        "elvis.config",
        "rebar.config"
    ]}
]}.

{so_name, "martini.so"}.

{artifacts, [
    "priv/martini.so"
]}.

{pre_hooks, [
    {compile, "git submodule update --init --recursive"},
    {compile, "make -C c_src"}
]}.
